<!DOCTYPE html>
<html>
<head>
    <title>Tracks</title>
    <form>
        {% for track in tracks %}
        <ul>
            <a href="{{track.url}}" download>
                <img src={{url_for("static", filename="images/download.png")}} width="24" height="24">
            </a><br>
            {{track.artist}} : <i>{{track.title}}</i>
        </ul>
        {% endfor %}
        <br>
        <input type="submit" value="Туда" name="prev">
        <input type="submit" value="Сюда" name="next">
    </form>
</head>
<body>
</body>
</html>
